<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1022013353549-q7h7na8agc8eut34q9hb8ksacr704nm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022013353549-q7h7na8agc8eut34q9hb8ksacr704nm7</string>
	<key>API_KEY</key>
	<string>AIzaSyDMlTrmJoKNQlAmjs-U2RC-TZ_bSD3yUkk</string>
	<key>GCM_SENDER_ID</key>
	<string>1022013353549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MM.InstagramFire</string>
	<key>PROJECT_ID</key>
	<string>instagramfire-dcf09</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfire-dcf09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022013353549:ios:f0b3630eb674b01a</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfire-dcf09.firebaseio.com</string>
</dict>
</plist>